{{!< default}}
<a href='/' class='home-icon'></a>
<main class="content page-blog" role="main">
  <section class='blog-header'>
    <h1>Blog</h1>
    <p>From the mind of Lawrence Luk</p>
  </section>
  <section class='blog-content'>
    <div class='container center'>
      {{!-- The tag below includes the post loop - partials/loop.hbs --}}
      <div class="blog-loop">
        {{#get "posts" include="feature_image,title"}}
          {{#foreach posts}}
            <a href={{url}}>
              <article class='blog-post'>
                <div class='blog-post-image-wrapper'>
                  <img src='{{feature_image}}'/>
                </div>
                <div class='blog-post-info'>
                  <h2>{{title}}</h2>
                  <p>{{excerpt characters='160'}}...</p>
                </div>
              </article>
            </a>
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </section>
</main>

<script type="text/javascript" src="{{asset "js/dist/blog.js"}}"></script>
